@import 'var';

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Roboto+Mono');

body{
    height: 100vh;
    width: 100%;
    background: $blue;
    color: white;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;   
}

.boruzele{
    z-index: 2; 
     
}

.gele{
    width: 50%;
    height: 60%;
    position: relative;
    top: -95%;
    left: 60%;
    right: 0%;
    bottom: 0;
    
    
    animation: pulse 2s linear 0.2s 4 normal forwards;
    animation-delay: 1s;
}

@keyframes pulse{
    0% {
        transform: scale(1);
      }
      8% {
        transform: scale(1.01);
      }
      16% {
        transform: scale(1.02);
      }
      24% {
        transform: scale(1.03);
      }
      32% {
        transform: scale(1.04);
      }
      40% {
        transform: scale(1.05);
      }
      50% {
        transform: scale(1.06);
      }
      58% {
        transform: scale(1.05);
      }
      66% {
        transform: scale(1.04);
      }
      74% {
        transform: scale(1.03);
      }
      82% {
        transform: scale(1.02);
      }
      90% {
        transform: scale(1.01);
      }
      100% {
        transform: scale(1);
      }
    }


#footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height:100px;
    overflow: hidden;       
}

#imginthefooter {       
    background: url(grass.png);
    width:100%;
    height:300px;
    bottom: 0px;
    top: -160px;
    position: relative;
    z-index: 1;
    
}




h1 {
    padding-top: 20vh;
    font-size: 8vw;
    position: relative;
    text-align: center;
    font-family: 'Merriweather' , serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px hsla(100, 0, 30, 0.5);
    z-index: 1000;
    margin: 0;
}




.fadeIn{
    opacity: 0;
    animation: fadeIn 1s 2s ease-in forwards;
}

@keyframes fadeIn {
    100% { opacity: 1;}
}


.sun{
    position: absolute;
    top: 2rem;
    left: 3rem;
    width: 5rem;
    height: 5rem;
    background: #F5AB35;
    border-radius: 50%;
    box-shadow: 0 0 30px #F39C12;
}

.slideIn{
    transform: translateX(-5rem);
    animation: slideIn 3s ease-out forwards;

}

@keyframes slideIn{
    100% {transform: translateX(0);}
}


    .flower{
        position: absolute;
        bottom: 180px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 50px;
        transform: rotate(180deg);
    

    &_head{
        height: 7rem;
        width: 7rem;
        background: $purple;
        border-radius: 50%;
        animation-name: atsiranda;
        margin: 0;    
        
    }

    &_head {
        
        animation: atsiranda 10s ease 1 normal;
    }

    @keyframes atsiranda {
        0% { opacity: 0; }
        80% { opacity: 0; }
        100% { opacity: 1; }
    }
    
    
    &_stem {
        position: absolute;
        left: 50px;
        width: 5px;
        height: 0px;
        background: linear-gradient(-90deg, #0d0, #0a0);
        animation: grow 8s linear forwards;
        align-items: center;
        top: -105%;
        margin: 0;
        &::after {
            content: '';
            margin-left: 0rem;
            margin-top: 2rem;
            width: 3em;
            height: 3em;
            display: block;
            background: $darkgreen;
            border-radius: 2em 0 2em 0em;
            transform: rotateY(-140deg);
            animation-name: auga;   
            animation: auga 4.5s ease 1 normal;
            

            @keyframes auga {
                0% { opacity: 0; }
                80% { opacity: 0; }
                100% { opacity: 1; }
            }

    @keyframes grow{
        25%{height: 0;}
        34%{height: 22px;}
        39%{height: 22px;}
        41%{height: 27px;}
        45%{height: 27px;}
        52%{height: 92px;}
        55%{height: 94px;}
        100%{height: 120px;}
    }

}
   
}


}
